@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --background: #ffe845;
  --color: #21252a;
  --background-img: #ffffff;
  --spacing: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--color);
  font-family: "Familjen Grotesk", sans-serif;
  border: 3px solid black;
}

h1 {
  font-style: italic;
  font-weight: 200px;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

button {
  background-color: var(--color);
  color: var(--background);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: var(--spacing);
  font-size: 15px;
  cursor: pointer;
}

span {
  font-style: italic;
  font-size: 50px;
  color: #ff5733;
}

/* HEADER */

header {
  height: 80px;
  border-bottom: 3px solid black;
  padding: var(--spacing);
  text-transform: uppercase;
}

.visible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
}

.visible > ul {
  display: flex;
  gap: var(--spacing);
}

.visible a {
  font-size: 20px;
}

.visible a:hover {
  font-weight: bold;
}

.hidden {
  display: none;
}

@media (max-width: 769px) {
  .visible {
    display: none;
  }

  .hidden {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing);
  }

  .hidden img {
    width: 40px;
    cursor: pointer;
  }
}

/*MAIN*/

main {
  border-bottom: 3px solid black;
  padding: var(--spacing);
  min-height: 647px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*HERO*/

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  flex-wrap: wrap;
}

.info {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--spacing);
  flex-grow: 1;
}

.info > h2 {
  font-size: 40px;
  font-style: italic;
}

.buttons {
  padding: var(--spacing);
  display: flex;
  gap: 50px;
}

.hero img {
  background-color: var(--background-img);
  border: 3px solid black;
  border-radius: 15px;
}

/*SECTION RECIPES*/

.recipes {
  min-height: 500px;
  border-bottom: 3px solid black;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--spacing);
  background-color: var(--background-img);
}

.recipes h2 {
  text-transform: uppercase;
  padding: var(--spacing);
  font-size: 30px;
}

.recipe {
  border: 2px solid blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--spacing);
  padding: var(--spacing);
}

.card-recipe {
  border: 2px solid red;
  padding: var(--spacing);
}

.card-recipe img {
  border: 3px solid black;
  border-radius: 15px;
  width: 90%;
}

/*SECTION TESTIMONIALS*/

.testimonials {
  min-height: 500px;
  border-bottom: 3px solid black;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.testimonials h2 {
  text-transform: uppercase;
}

.testimonial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-img);
  gap: var(--spacing);
  padding: var(--spacing);
  border: 3px solid black;
  border-radius: 15px;
}

.card img {
  width: 50%;
}

.card p {
  text-align: center;
}

/* FOOTER */

footer {
  padding: var(--spacing);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  justify-content: space-around;
}
